extends  ../_skeleton

//- Includes
include ../components/_ui-pagination

block variables
	- var activeCategory = 'home'
	- var pageName = 'Home'

block page
	section.section.section-relative.section-header#home
		// Page Header
		include ../sections/_header-aside

		// Preview section
		section.section.context-dark.section-jumbotron.bg-cover(style="background: url(images/bg-image.jpg) #151515")
			.panel-left
				+logo

				ul.list-md.custom-list
					li: a.icon.icon-sm.icon-gray-filled.icon-circle.mdi.mdi-behance(href="#")
					li: a.icon.icon-sm.icon-gray-filled.icon-circle.mdi.mdi-facebook(href="#")
					li: a.icon.icon-sm.icon-gray-filled.icon-circle.mdi.mdi-instagram(href="#")
			.section-fullheight
				.section-fullheight-inner.section-md.text-center.text-lg-left
					.container
						.row.justify-content-center.justify-content-lg-start
							.col-md-10.offset-lg-1.col-lg-8.offset-xl-1.col-xl-9.offset-xxl-2.col-xxl-8
								.jumbotron-custom-1
									.text-1.font-weight-medium Welcome to Concept
									.title.text-decorative Top-Notch
									.title Architecture
									p.big-2.text-white-darken With 19+ years’ experience in combining traditions and innovations, Concept creates settings to inspire the way people  live, learn, heal, work, and play.
			ul.project-list
				li.bg-image(style="background-image: url(images/home-3-project-1-671x214.jpg)")
					a(href="#") Architecture
				li.bg-image(style="background-image: url(images/home-3-project-2-671x214.jpg)")
					a(href="#") Design
				li.bg-image(style="background-image: url(images/home-3-project-3-671x214.jpg)")
					a(href="#") 3d modeling

	// Portfolio
	section.section.section-lg.bg-default.section-lined#portfolio
		.container.container-lined
			.row
				.col-md-4
				.col-md-4
				.col-md-4
		.container.container-custom-width
			h3.text-center Our Latest Projects
			.row.row-custom-width.row-30.row-xxl-100.row-flex
				.col-sm-6.col-lg-4.wow.fadeInRight
					+project-grid({
						imgBackground: 'projects-1-518x373',
						imgLogo: 'bg-pattern-transparent',
						title: 'Eastwood Hotel',
						exeption: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.',
						link: '#'
					})

				.col-sm-6.col-lg-4.wow.fadeInRight(data-wow-delay="0.2s")
					+project-grid({
						imgBackground: 'projects-2-518x373',
						imgLogo: 'bg-pattern-transparent',
						title: 'Southward Concert Hall',
						exeption: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.',
						link: '#'
					})

				.col-sm-6.col-lg-4.wow.fadeInRight(data-wow-delay="0.4s")
					+project-grid({
						imgBackground: 'projects-3-518x373',
						imgLogo: 'bg-pattern-transparent',
						title: 'California Mega Mall',
						exeption: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.',
						link: '#'
					})

				.col-sm-6.col-lg-4.wow.fadeInRight(data-wow-delay="0.2s")
					+project-grid({
						imgBackground: 'projects-4-518x373',
						imgLogo: 'bg-pattern-transparent',
						title: 'Hearst Business Center',
						exeption: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.',
						link: '#'
					})

				.col-sm-6.col-lg-4.wow.fadeInRight(data-wow-delay="0.4s")
					+project-grid({
						imgBackground: 'projects-5-518x373',
						imgLogo: 'bg-pattern-transparent',
						title: 'Westwood Child Center',
						exeption: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.',
						link: '#'
					})

				.col-sm-6.col-lg-4.wow.fadeInRight(data-wow-delay="0.6s")
					+project-grid({
						imgBackground: 'projects-6-518x373',
						imgLogo: 'bg-pattern-transparent',
						title: 'Modern Art Gallery',
						exeption: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.',
						link: '#'
					})

			.button-wrap-1.text-center
				a(href="#").button.button-default View All Projects

	// Branding
	section.section.section-lg.bg-gray-700.text-center.text-sm-left#services
		.container
			.row.row-40
				.col-lg-9
					.row.row-30.row-xxl-85
						.col-sm-6.col-md-4
							h5 Architecture
							ul.list-xs.font-weight-regular
								li: a.link-item(href="#") Planning & Development
								li: a.link-item(href="#") Project Management
								li: a.link-item(href="#") Structural Engineering

						.col-sm-6.col-md-4
							h5 3D Modeling
							ul.list-xs.font-weight-regular
								li: a.link-item(href="#") Interior Rendering
								li: a.link-item(href="#") Visualization
								li: a.link-item(href="#") VR Architecture

						.col-sm-6.col-md-4
							h5 Design
							ul.list-xs.font-weight-regular
								li: a.link-item(href="#") Interior Design
								li: a.link-item(href="#") Architectural Design
								li: a.link-item(href="#") Technical Detailing

						.col-sm-6.col-md-4
							+counter-boxed({
								value: '10',
								postfix: '+',
								title: 'International awards'
							})

						.col-sm-6.col-md-4
							+counter-boxed({
								value: '57',
								title: 'Finished projects'
							})

						.col-sm-6.col-md-4
							+counter-boxed({
								value: '19',
								title: 'Years of experience'
							})

				.col-lg-3
					.heading-3 High-quality solutions
					.big.text-white-lighter.text-white-darken We are committed to providing the best possible solutions at a competitive cost. Our team is ready to offer a wide range of various architectural services.
					.img-wrap-1
						+png("speaker-1-180x80")

	// Blurb minimal
	section.section.section-lg.bg-default.section-lined
		.container.container-lined
			.row
				.col-md-4
				.col-md-4
				.col-md-4
		.container
			.row.row-40
				.col-sm-6.col-md-4.offset-left-16.wow.fadeInUp
					// Blurb minimal
					+blurb-minimal({
						icon: 'construction-icon-12',
						title: 'Modern Materials',
						exeption: 'All our projects are designed and built using the best materials.'
					})

				.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay="0.2s")
					// Blurb minimal
					+blurb-minimal({
						icon: 'construction-icon-13',
						title: 'Creative Ideas',
						exeption: 'Creativity is a vital part of the projects we design for you.'
					})

				.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay="0.4s")
					// Blurb minimal
					+blurb-minimal({
						icon: 'construction-icon-18',
						title: 'Unique Approach',
						exeption: 'Our approach combines dedication and professionalism.'
					})

	// Our Clients
	section.section.section-lg.bg-default.section-lined#testimonials
		.container.container-lined
			.row
				.col-md-4
				.col-md-4
				.col-md-4
		.container
			.row.row-40.justify-content-between
				.col-lg-6.col-xxl-5
					h3 Our Clients
					// Owl Carousel
					.owl-carousel(data-items='1', data-md-items='2', data-lg-items='1', data-dots='true' data-nav='false' data-stage-padding='0', data-loop='false', data-margin='30', data-mouse-drag="false")
						article.quote-minimal
							.quote-body
								q We selected Concept because of their architects’ rigorous design background and education. They did the best job!
							.quote-footer
								cite.quote-minimal-cite John smith
								=", "
								span.quote-minimal-description “STP productions”

						article.quote-minimal
							.quote-body
								q When we needed design and architecture specialists, your team was there for us. Thank you!
							.quote-footer
								cite.quote-minimal-cite Kate williams
								=", "
								span.quote-minimal-description “Fireworx”

						article.quote-minimal
							.quote-body
								q Out of all architecture companies offering design & construction services, you are the best!
							.quote-footer
								cite.quote-minimal-cite Peter McMillan
								=", "
								span.quote-minimal-description “MCM ltd.”

				.col-lg-6
					.box-border-wrap.box-border-wrap-left
						.row
							a.col-6.col-md-4.box-border(href="#")
								+png("brand-1-196x162")
							a.col-6.col-md-4.box-border(href="#")
								+png("brand-2-196x162")
							a.col-6.col-md-4.box-border(href="#")
								+png("brand-3-196x162")
							a.col-6.col-md-4.box-border(href="#")
								+png("brand-4-196x162")
							a.col-6.col-md-4.box-border(href="#")
								+png("brand-5-196x162")
							a.col-6.col-md-4.box-border(href="#")
								.icon.icon-sm.mdi.mdi-arrow-right

	// Team
	section.section.section-lg.bg-gray-100.section-lined#team
		.container.container-lined
			.row
				.col-md-4
				.col-md-4
				.col-md-4
		.container
			.row.row-40.justify-content-between
				.col-lg-7.col-xl-8
					.row.no-gutters
						.col-sm-6.wow.fadeInLeft
							+team-box({
								addClass: 'box-team-right',
								imgName: 'index-3-1-390x332',
								name: 'Jane Smith',
								position: 'Senior Architect'
							})
						.col-sm-6.wow.fadeInRight
							+team-box({
								addClass: 'box-team-right',
								imgName: 'index-3-2-390x332',
								name: 'Nathan Porter',
								position: 'Founder, Director'
							})
						.col-sm-6.wow.fadeInLeft(data-wow-delay="0.2s")
							+team-box({
								addClass: 'box-team-right',
								imgName: 'index-3-3-390x332',
								name: 'Sam Lee',
								position: 'Interior Designer'
							})
						.col-sm-6.wow.fadeInRight(data-wow-delay="0.2s")
							+team-box({
								addClass: 'box-team-right',
								imgName: 'index-3-4-390x332',
								name: 'Sarah Parker',
								position: 'Exterior Designer'
							})

				.col-lg-5.col-xl-4
					.row.row-30.row-xxl-55.justify-content-end
						.col-sm-6.col-lg-9.col-xl-10.text-lg-right
							h3.offset-left-70 Meet the Team of Our Designers and Architects
							.big-text The team of Concept has more than 20 years of experience in architecture.
							.divider.divider-2.d-none.d-lg-block
						.col-sm-6.col-lg-8.col-xl-7
							+counter-minimal({
								value: '20',
								postfix: '+',
								title: 'People in team'
							})
							ul.list-marked.list-marked-big
								li 28 exceptional<br> full-time professionals
								li 5-year specialized team member practice

	// Get in touch with us
	section.section.section-md.bg-default.wow.fadeIn.section-lined(data-wow-delay="0.2s")#contacts
		.container.container-lined
			.row
				.col-md-4
				.col-md-4
				.col-md-4
		.container
			h3 Get in touch with us
			p.big Feel free to contact our specialists to find out more about our prices and services. <br class="d-none d-xl-inline">We are always ready to answer your questions.
			// RD Mailform
			form.rd-form.rd-mailform.form-boxed(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
				.row.row-50
					.col-lg-4
						.form-wrap.form-wrap-icon
							.form-icon.mdi.mdi-account-outline
							input#contact-name.form-input(type='text' name='name' data-constraints='@Required')
							label.form-label(for='contact-name') Name

					.col-lg-4
						.form-wrap.form-wrap-icon
							.form-icon.mdi.mdi-email-outline
							input#contact-email.form-input(type='email' name='email' data-constraints='@Email @Required')
							label.form-label(for='contact-email') E-mail

					.col-lg-4
						.form-wrap.form-wrap-icon
							.form-icon.mdi.mdi-phone
							input#contact-phone.form-input(type='text' name='phone' data-constraints='@Numeric')
							label.form-label(for='contact-phone') Phone

					.col-12
						.form-wrap.form-wrap-icon
							.form-icon.mdi.mdi-message-outline
							label.form-label(for='contact-message') Message
							textarea#contact-message.form-input(name='message' data-constraints='@Required')

					.col-md-12
						button.button.button-default(type='submit') Send Message

	// Page Footer
	include ../sections/_footer-classic
