/*
* Projects
*/

//
// Projects grid
//
.project-grid {
	display: flex;
	padding: 10px;
	background-size: cover;
	background-position: center center;

	.inner {
		padding: 20px 15px;
		background: rgba($black, .75);
		opacity: 1;
	}

	.title,
	.exeption {
		color: $white;
	}

	.exeption {
		font-size: 15px;
	}

	.button {
		min-width: 112px;
	}

	* + .title { margin-top: 10px; }
	* + .exeption { margin-top: 12px; }
	* + .button { margin-top: 20px; }

	// Mega large ≥1600px
	@include media-breakpoint-up(xxl) {
		.inner {
			padding: 75px 59px 46px;
		}

		* + .title { margin-top: 39px; }
		* + .button { margin-top: 34px; }
	}

	.desktop & {
		.inner {
			transition: .3s;
			opacity: 0;
		}

		&:hover {
			.inner {
				opacity: 1;
			}
		}
	}
}

//
// Projects grid
//
.project-masonry {
	position: relative;
	background-size: cover;
	background-position: center center;
	min-height: 300px;

	> img {
		width: 100%;
	}

	.inner {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 20px;
		background-image: linear-gradient(180deg, transparent -100%, rgba(0, 0, 0, 1));
	}

	.project-masonry-footer {
		margin-top: 30px;
	}

	.title,
	.exeption {
		color: $white;
	}

	.title {
		text-transform: uppercase;

		a:hover,
		a:focus {
			color: $primary;
		}
	}

	.exeption {
		max-width: 400px;
	}

	.button {
		min-width: 112px;
	}

	* + .title { margin-top: 10px; }
	* + .exeption { margin-top: 12px; }
	* + .button { margin-top: 20px; }

	// Large ≥992px
	@include media-breakpoint-up(xl) {
		min-height: 398px;

		&-1 {
			 min-height: 604px;
		}

		&-2 {
			 min-height: 627px;
		}

		&-3 {
			 min-height: 421px;
		}

		&-4 {
			 min-height: 401px;
		}
	}

	// Mega large ≥1600px
	@include media-breakpoint-up(xl) {
		.inner {
			padding: 38px 65px 61px;
		}

		* + .title { margin-top: 30px; }
		* + .button { margin-top: 34px; }
	}

	.desktop & {
		.inner {
			transition: .3s;
			opacity: 0;

			&:hover {
				opacity: 1;
			}
		}
	}
}