-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i",
		subscribeFormCounter = 0,
		logo = {
			default: { normal: 'logo-default-119x102', retina: 'logo-default-119x102' },
			inverse: { normal: 'logo-inverse-119x102', retina: 'logo-inverse-119x102' },
			name: 'Concept'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#be985f'
		},
		menu = [
			{
				title: 'Home',
				category: 'home',
				link: '#home'
			},
			{
				title: 'Portfolio',
				category: 'portfolio',
				link: '#portfolio'
			},
			{
				title: 'Services',
				category: 'services',
				link: '#services'
			},
			{
				title: 'Team',
				category: 'team ',
				link: '#team'
			},
			{
				title: 'Contacts',
				category: 'contacts',
				link: '#contacts'
				}
		];
